/* 主页面设置*/

.fly-none p {
     margin-top: 0px;
     padding: 0px;
     font-size: 16px;
     color: #555;
     font-weight: normal;
}

.markdown *{
    font-size: 16px;
    font-family: 幼圆;
    color:#555;
}
.markdown body{
    background-color: #FDF6E3;
    line-height: 1.5em;
    max-width: 960px;
    margin: 0 auto;
}
/* !important的作用是提高指定样式规则的应用优先权。*/
.markdown body>*:first-child {
    margin-top: 0 !important;
}

.markdown body>*:last-child {
    margin-bottom: 0 !important;
}
/* <tt> 标签与 <code> 和 <kbd> 标签一样，<tt> 标签和必
需的 </tt> 结束标签告诉浏览器，要把其中包含的文本显示
为等宽字体。*/

/* 标题 h1~h2*/
/* ====================================================*/
.markdown h1 {
    font-size: 2.8em;
    color: #d33682;
    margin: 0.75em;
}
.markdown h2 {
    font-size: 2.4em;
    color: #9B31EA;
    margin: 0.75em;

}
.markdown h3 {
    font-size: 1.8em;
    color: #338000;
    margin: 0.75em;
}
.markdown h4 {
    font-size: 1.4em;
    margin: 0.75em;
}

/* p,a,,hr,list,table*/

/* ==================================================*/
/*<blockquote> 标签定义摘自另一个源的块引用。浏览器
通常会对 <blockquote> 元素进行缩进。
*/
.markdown blockquote {
    font-style: italic;
    border-left: 5px solid;
    margin-left: 2em;
    padding-left: 1em;
}

/* p*/
.markdown p {
    margin-bottom: 1.5em;
}
/* hr */
.markdown hr {
    clear: both;
    margin: 15px 0;
    height: 0px;
    overflow: hidden;
    border: none;
    background: transparent;
    border-bottom: 4px solid #ddd;
    padding: 0;
}
/*  link*/

.markdown a {
    color: #b58900;
    text-decoration: none;
}
.markdown a:focus {
    outline: thin dotted;
}
.markdown a:active,.markdown a:hover {
    outline: 0;
}
.markdown a:hover {
    color: #cb4b16;
    text-decoration: underline;
}
.markdown a:visited {
    color: #cb4b16;
}

/* list */

.markdown ul,
.markdown ol {
    margin: 0 0 1.5em 1.5em;
}
.markdown ol li {
    list-style-type: decimal;
    list-style-position: outside;
}
.markdown ul li {
    list-style-type: disc;
    list-style-position: outside;
}

/* tables */

.markdown table thead, .markdown table tr {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(235, 242, 224);
}
.markdown table {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(235, 242, 224);
}
.markdown thead,.markdown table td:nth-child(1){
    font-weight:bold;
    color: #7034ca;
}
/* Padding and font style */
.markdown table td, .markdown table th {
    padding: 5px 10px;
    font-size: 12px;
    font-family: Verdana;
    color: rgb(149, 170, 109);
}

/* Alternating background colors */
.markdown table tr:nth-child(even) {
    background: rgb(230, 238, 214)
}
.markdown table tr:nth-child(odd) {
    background: #FFF
}

/* code */
/* =======================================*/
.markdown pre{
    border-radius: .5em;
    border: .3em solid hsl(0, 0%, 33%);
    box-shadow: 1px 1px 0.5em black inset;
    margin: .5em 0;
    overflow: auto;
    padding: 1em;
    background: hsl(0, 0%, 8%);
}

.markdown pre, .markdown code, .markdown tt {
    font-size: 12px;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
}

.markdown code, .markdown tt {
    margin: 0 0px;
    padding: 0px 0px;
    white-space: nowrap;
    border: 1px solid #eaeaea;
    background-color: #f8f8f8;
    border-radius: 3px;
}

.markdown pre>code {
    margin: 0;
    padding: 0;
    white-space: pre;
    color: rgba(203, 75, 22, 0.86);
    font-size: 16px;
    border: none;
    background: transparent;

}



.markdown pre code, .markdown pre tt {
    background-color: transparent;
    border: none;
}

/*目录形成的范围*/
.markdown #outline-list {
    height: 325px;
    position: fixed;
    overflow-y:scroll;
    overflow-x:hidden;
    bottom: 80px;
    right: 15px;
    width: 220px;
}
/* 设置滚动条的样式 */
.markdown ::-webkit-scrollbar {
    width:12px;
}
/* 滚动槽 */
.markdown ::-webkit-scrollbar-track {
    -webkit-box-shadow:inset006pxrgba(0,0,0,0.3);
    border-radius:10px;
}
/* 滚动条滑块 */
.markdown ::-webkit-scrollbar-thumb {
    border-radius:10px;
    background:rgba(0,0,0,0.1);
    -webkit-box-shadow:inset006pxrgba(0,0,0,0.5);
}
.markdown ::-webkit-scrollbar-thumb:window-inactive {
    background:rgba(255,0,0,0.4);
}
.markdown img{
    max-width:100%;

}
